.loading {
  text-align: center;
  padding-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
  article .message-body {
    padding-left: 0.5rem;
    padding-right: 0.9rem;
  }
}
.card .media:not(:last-child) {
  margin-bottom: 0.5rem;
}
.profile {
  margin-bottom: 1.2rem !important;
}
.media-header {
  align-items: center;
}
