<nav class="navbar is-transparent" role="navigation" aria-label="dropdown navigation">
  <a
    #menuBurgerCurriculum
    id="menuBurgerCurriculum"
    role="button"
    class="navbar-burger"
    aria-label="menu"
    aria-expanded="false"
    data-target="navbarCurriculum"
    (click)="togleMenuBurger(menuBurgerCurriculum)"
  >
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>
  <div id="navbarCurriculum" class="navbar-menu">
    <div class="navbar-start">
      <a
        class="navbar-item has-tooltip-arrow has-tooltip-right"
        (click)="scrollTo('professionalexp')"
        attr.data-tooltip="{{ 'curriculum.professionalExperience' | translate }}"
      >
        <fa-icon [icon]="['fas', 'clock']" size="lg"></fa-icon>
        <span class="navbar-item-des"
          >&nbsp;{{ "curriculum.professionalExperience" | translate }}</span
        >
      </a>
      <a
        class="navbar-item has-tooltip-arrow has-tooltip-right"
        (click)="scrollTo('contact')"
        attr.data-tooltip="{{ 'cardList.contact' | translate }}"
      >
        <fa-icon [icon]="['fas', 'phone']" flip="horizontal" size="lg"></fa-icon>
        <span class="navbar-item-des">&nbsp;{{ "cardList.contact" | translate }}</span>
      </a>
      <a
        class="navbar-item has-tooltip-arrow has-tooltip-right"
        (click)="scrollTo('github')"
        data-tooltip="GitHub"
      >
        <fa-icon [icon]="['fab', 'github']" size="lg"></fa-icon>
        <span class="navbar-item-des"> &nbsp;GitHub</span>
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <fa-icon [icon]="['fas', 'globe']" size="lg"></fa-icon>
          <span class="navbar-item-des">&nbsp;{{ "languages.description" | translate }}</span>
        </a>
        <div class="navbar-dropdown is-boxed">
          <a
            class="navbar-item"
            [ngClass]="{ langMenuEs: ('footer' | translate) == 'es' }"
            (click)="changeLanguage('en-US')"
          >
            <fa-icon *ngIf="('footer' | translate) == 'en'" [icon]="['fas', 'check']"></fa-icon>
            &nbsp;
            {{ "languages.english" | translate }}
          </a>
          <a
            class="navbar-item"
            [ngClass]="{ langMenuEn: ('footer' | translate) == 'en' }"
            (click)="changeLanguage('es-MX')"
          >
            <fa-icon *ngIf="('footer' | translate) == 'es'" [icon]="['fas', 'check']"></fa-icon>
            &nbsp;{{ "languages.spanish" | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
